body {
    background-color: #f3f6f8;
  }
  
  form {
    border: 1px solid #ddd;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .btn-primary {
    background-color: #0073b1;
    border-color: #0073b1;
  }
  
  .btn-primary:hover {
    background-color: #006097;
    border-color: #006097;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 113, 177, 0.5);
  }