@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification{
  width:55rem !important;
}

.notification-item:hover{
  background-color: aqua;
}

.my-network{
  width:45rem;
  margin-right: 10rem;

}

.network-friend{
  width:45rem !important;
  margin-top: 1rem;
  margin-left: 5rem;
}
.network-sidebar{
  width:20rem !important;
  margin-left: 5rem !important;
}
i:hover{
  cursor: pointer;
}
.job{
  width:65%;
  margin: auto;
}
@media(max-width:600px){
  .home{
    width:20rem;
    margin-left: 10rem;
  }
  img{
    width:10rem;
  }
  .my-network{
    width: 100%;
  }
}

.suggestion{
  /* margin-top: -10px; */
  padding: -15px 1rem 0 1rem;
}

.item-hover:hover{
  cursor:pointer;
}
.user-like{
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.navbar-style{
  margin-top: -10px;
}
/* .message-gap{
  
} */
.hover-element{
  cursor: pointer;
}